body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
  background: #f9f9f9;
}

.app-container {
  max-width: 420px;
  margin: auto;
  text-align: center;
}

input[type="file"] {
  margin: 1rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}

.grid-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 4px;
}
